body {
    text-align: center;
    background: #8F7D89;
}


@-webkit-keyframes shake {
  0%   { opacity: 0; background: transparent; }
  100% { opacity: 1; background: #ff7f00; }
}
@-moz-keyframes shake {
  0%   { opacity: 0; background: transparent; }
  100% { opacity: 1; background: #ff7f00; }
}
@-o-keyframes shake {
  0%   { opacity: 0; background: transparent; }
  100% { opacity: 1; background: #ff7f00; }
}
@keyframes shake {
  0%   { opacity: 0; background: transparent; }
  100% { opacity: 1; background: #ff7f00; }
}

.shake {
  -webkit-animation: shake 50ms 9;
  -moz-animation:    shake 50ms 9;
  -o-animation:      shake 50ms 9;
  animation:         shake 50ms 9; 
}

canvas {
      border: pink 33px solid;
      height: 88vh;
      background: #bbb;
      max-height: 650px;
}

a.reset-button {
  display:none;
  position: absolute;
  z-index: 101;
  font-size: 23px;
  color: #30c;
  width: 200px;
  height: 40px;
  background: #fff;
  left: 49vh;
  top: 45vh;

}

a.reset-button.show {
   display:block;
}